---
layout: default
last_updated: "2022-05-04"
---
<link rel="stylesheet" href={{"/assets/css/index.css" | relative_url}}>
<header class="masthead">
  <title> Keunwoo Park's Homepage </title>
</header>

<div class="container introduce ">
  <div class="row p-5">
    <div class="col-md-4 col-sm-12 profile pr-md-5">
      <div class="row justify-content-center">
        <div class="col text-center"/>
          <img class="profile img-thumbnail rounded-circle" src={{"/assets/img/profile.jpg" | relative_url}}>
        </div>
      </div>
      <div class="row justify-content-center no-gutters">
        <div class="col-3 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/keunwoo7">
            <img class="social-icon" src={{"/assets/img/twitter-100.png"|relative_url}}>
          </a>
        </div>
        <div class="col-3 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://soundcloud.com/keunwoopark-1">
            <img class="social-icon" src={{"/assets/img/soundcloud-100.png"|relative_url}}>
          </a>
        </div>
        <div class="col-3 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://www.notion.so/keunwoopark/Personal-Public-0624f6a0904d4813b5bdbfc675540ccc">
            <img class="social-icon" src={{"/assets/img/notion-logo.png"|relative_url}}>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <h1 class="display-2">Keunwoo Park</h1>

      <p class="lead">
        <strong>
        I'm a Ph.D. student at <a target="_blank" href="http://hcil.kaist.ac.kr" >KAIST HCIL</a>.
        I'm interested in technologies for physical human-computer interaction. I develop technologies to 1) bring the existing interaction concepts closer to our life, and 2) support novel interaction ideas. My projects include smartwatch interactions, haptic devices, and multi-finger classifying and tracking technologies. Besides my research projects, I'm also interested in fabrication and tangible interaction.
        <br>
        <br>
        I completed a bachelor's course in Mechanical Engineering and Computer Science in KAIST. I also finished a master's course for Computer Science in KAIST.<br><br>
        Please contact me through email [<a href="mailto:keunwoo@kaist.ac.kr">keunwoo(at)kaist.ac.kr</a>].
        <br>
        <br>

        This page was updated at <i>{{ page.last_updated | date_to_string }}</i>.

        </strong>
      </p>
    </div>
</div>

<div class='main container pt-5 pb-5'>
  <h2> Curriculum Vitae </h2>
  <hr>
  <div class="mb-5"> [<a target="_blank" href ={{"/assets/KeunwooParkCV.pdf"|relative_url}}>download</a>] </div>
  <h2> Publications </h2>
  <hr>
  <h3 class="mb-3"> Conferences </h3>
  {% for post in site.categories.conference %}
    {% include post_card.html post=post%}
  {% endfor %}

  <h3 class="mb-3"> Journals </h3>
  {% for post in site.categories.journal %}
    {% include post_card.html post=post%}
  {% endfor %}

  <h3 class="mb-3"> Posters </h3>
  {% for post in site.categories.poster_demo %}
    {% include post_card.html post=post%}
  {% endfor %}

  <h2 class="mb-3"> Other Projects </h2>
  <hr>
  {% for post in site.categories.misc %}
    {% include post_card.html post=post%}
  {% endfor %}

  <h2 class="mb-3"> Talks </h2>
  <hr>
  <ul>
    <li>
      <a href="https://youtu.be/WKyGvOHlNjk" target="_blank" rel="noopener noreferrer">EIRIC Seminar: Finger Sensing Technologies (2021, in Korean)</a>
    </li>
  </ul>

  <div>
    <h2 class="mb-3"> Miscellaneous </h2>
    <hr>
    <h3 class="mb-3 mt-3"> Other activities </h3>
    I make electronic music for fun. If you are interested, please visit my <a target="_blank" href="https://soundcloud.com/keunwoopark-1">soundcloud</a>.<br>
    I share what I listen and watch in <a target="_blank" href="https://www.notion.so/keunwoopark/Personal-Public-0624f6a0904d4813b5bdbfc675540ccc"> my notion notes</a>. There are my conference travel schedules too.<br>

    <h3 class="mb-3 mt-3"> Why do I write my contributions for the papers that I'm not a first author? </h3>
    Current authorship system is not transparent. We know that a first author did most of the things, but it is hard to know what the other authors did.
    Therefore, I manifest my contributions for the projects that I played supporting roles.
    I want to emphasize that HCI research projects are mostly collaborative work. A research project cannot be done by one person and contributions of non-first-authors are crucial.
    If you are intersted in the authorship issue, please read this interesting paper: <a target="_blank" href="https://dl.acm.org/doi/abs/10.1145/2851581.2892582">Solving the battle of first-authorship: Using interactive technology to highlight contributions</a>.<br>

    <h3 class="mb-3 mt-3"> How to pronounce <i>Keunwoo</i>?</h3>
    My name is pronouced as <a href="https://en.wikipedia.org/wiki/GNU">GNU</a>.<br>
  </div>

</div>
