---
layout: default
last_updated: "2023-08-06"
---
<link rel="stylesheet" href={{"/assets/css/index.css" | relative_url}}>
<header class="masthead">
  <title>Keunwoo Park</title>
</header>

<div class="container introduce ">
  <div class="row p-5">
    <div class="col-md-4 col-sm-12 profile pr-md-5">
      <div class="row justify-content-center">
        <div class="col text-center"/>
          <img class="profile img-thumbnail rounded-circle" src={{"/assets/img/profile.jpg" | relative_url}}>
        </div>
      </div>
      <div class="row justify-content-center no-gutters">
        <div class="col-3 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/keunwoo7">
            <img class="social-icon" src={{"/assets/img/twitter-100.png"|relative_url}}>
          </a>
        </div>
        <div class="col-3 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://github.com/KeunwooPark">
            <img class="social-icon" src={{"/assets/img/github-mark.png"|relative_url}}>
          </a>
        </div>
        <div class="col-3 text-center">
          <a target="_blank" rel="noopener noreferrer" href="https://www.notion.so/keunwoopark/Personal-Public-0624f6a0904d4813b5bdbfc675540ccc">
            <img class="social-icon" src={{"/assets/img/notion-logo.png"|relative_url}}>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <h1 class="display-2">Keunwoo Park</h1>

      <p class="lead">
        I lead the software product team at Ordinary Magic Corp., a company based in South Korea, making toys for infants and toddlers under the <a target="_blank" href="https://peekaby.com">Peekaby</a> brand. 
        Our team builds software products to deliver content about toys and intelligent tools to improve the playing experiences.
      </p>
      <br>
      <p class="lead">
        I completed my Ph.D. at <a target="_blank" href="http://hcil.kaist.ac.kr" >KAIST HCIL</a>.
        During my Ph.D., I foused on technologies for physical human-computer interaction. I developed technologies to 1) bring the existing interaction concepts closer to our life, and 2) support novel interaction ideas. 
        My projects include smartwatch interactions, haptic devices, fabrication, and hand sensing technologies. 
      </p>
      <br>
      <p class="lead">
        Prior to my Ph.D., I completed a bachelor's course in Mechanical Engineering and Computer Science in KAIST. 
        I also finished a master's course for Computer Science in KAIST.
      </p>
      <br>
      <p class="lead">
        Please contact me through email [<a href="mailto:keunwoopark.524@gmail.com">keunwoopark.524(at)gmail.com</a>].
      </p>
      <br>
      <p class="lead">This page was updated at <i>{{ page.last_updated | date_to_string }}</i>.</p>
    </div>
</div>

<div class='main container pt-5 pb-5'>
  <h2> Curriculum Vitae </h2>
  <hr>
  <div class="mb-5"> [<a target="_blank" href ={{"/assets/KeunwooParkCV.pdf"|relative_url}}>download</a>] </div>
  <h2> Publications </h2>
  <hr>
  <h3 class="mb-3"> Conferences </h3>
  {% for post in site.categories.conference %}
    {% include post_card.html post=post%}
  {% endfor %}

  <h3 class="mb-3"> Journals </h3>
  {% for post in site.categories.journal %}
    {% include post_card.html post=post%}
  {% endfor %}

  <h3 class="mb-3"> Posters </h3>
  {% for post in site.categories.poster_demo %}
    {% include post_card.html post=post%}
  {% endfor %}

  <h2 class="mb-3"> Other Projects </h2>
  <hr>
  {% for post in site.categories.misc %}
    {% include post_card.html post=post%}
  {% endfor %}

  <h2 class="mb-3"> Talks </h2>
  <hr>
  <ul>
    <li>
      <a href="https://youtu.be/WKyGvOHlNjk" target="_blank" rel="noopener noreferrer">EIRIC Seminar: Finger Sensing Technologies (2021, in Korean)</a>
    </li>
  </ul>

  <div>
    <h2 class="mb-3"> Miscellaneous </h2>
    <hr>
    <h3 class="mb-3 mt-3"> Other activities </h3>
    I make electronic music for fun. If you are interested, please visit my <a target="_blank" href="https://soundcloud.com/keunwoopark-1">soundcloud</a>.<br>
    I share what I listen and watch in <a target="_blank" href="https://www.notion.so/keunwoopark/Personal-Public-0624f6a0904d4813b5bdbfc675540ccc"> my notion notes</a>. There are my conference travel schedules too.<br>

    <h3 class="mb-3 mt-3"> Why do I write my contributions for the papers that I'm not a first author? </h3>
    Current authorship system is not transparent. We know that a first author did most of the things, but it is hard to know what the other authors did.
    Therefore, I manifest my contributions for the projects that I played supporting roles.
    I want to emphasize that HCI research projects are mostly collaborative work. A research project cannot be done by one person and contributions of non-first-authors are crucial.
    If you are intersted in the authorship issue, please read this interesting paper: <a target="_blank" href="https://dl.acm.org/doi/abs/10.1145/2851581.2892582">Solving the battle of first-authorship: Using interactive technology to highlight contributions</a>.<br>

    <h3 class="mb-3 mt-3"> How to pronounce <i>Keunwoo</i>?</h3>
    My name is pronouced as <a href="https://en.wikipedia.org/wiki/GNU">GNU</a>.<br>
  </div>

</div>
