<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/header_footer.css">
		<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="/assets/bootstrap-4.3.1-dist/css/bootstrap.min.css">
		<script scr="/assets/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-YG4YGWN03V"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-YG4YGWN03V');
		</script>
		<title> Keunwoo Park's Homepage  </title>
  </head>
  <body>
		<div class="layout-content">
			{{ content }}
		</div>
	</body>
  <footer class="mb-5">
    <a href="/">back to home</a>
  </footer>
</html>
